<div id="heads">
    <div id="first">
  <img style="height: 500px;" src="https://firebasestorage.googleapis.com/v0/b/hackadon-7983e.appspot.com/o/WhatsApp%20Image%202020-11-28%20at%206.54.02%20PM%20(1).jpeg?alt=media&token=9628bdd4-2f5f-4005-b41c-d2e77bbbdaff">
  </div>
  
  <div  class="buttons">
      <div class="bi">
  <button  style="margin: 10px; width: 120px;"  mat-raised-button color="primary"><a routerLink="/Login"> User Login</a></button><br>
  <button style="margin: 10px; width: 120px;"  mat-raised-button color="primary">Admin Login</button>
  </div>
  </div>
  </div>
